<!-- start custom footer snippets -->
<small>
    This website is <a href="https://gitlab.com/BrightOne/blog">open source</a>. Content on this website is licensed under <a href="https://gitlab.com/BrightOne/blog/blob/master/LICENSE">CC BY-NC 4.0</a> license.
</small>
<!-- end custom footer snippets -->
