<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
  <a rel="me" href="https://niu.moe/@BrightOne" itemprop="sameAs">
    <i class="fab fa-mastodon"></i> Mastodon: @BrightOne@niu.moe
  </a>
</li>
